
body {
    font-family: verdana;
    background-color: #f4f4f4;
    padding: 20px;
}

h1{
  text-align: center;
}
#task-input{
  height:20px;
  width:93.5%;
  padding: 8px;
  margin-bottom: 8px;
}

#add-button{
  width: 100%;
  padding: 5px;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li input[type="checkbox"] {
    margin-right: 10px;
}

#task-list li span.completed {
    text-decoration: line-through;
}

#task-list li button {
    margin-left: 10px;
}
